In [ ]:
#  polynomial regression

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [5]:
df=pd.read_csv(r"c:\Users\HP\Downloads\Advertising.csv")
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [12]:
df = df.drop(columns=['Unnamed: 0'], axis=1)  # Drop the 'Unnamed: 0' column if it exists

In [13]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [14]:
x = df.drop('Sales',axis=1) # Features
y = df['Sales'] # Target variable

In [21]:
from sklearn.preprocessing import PolynomialFeatures # PolynomialFeatures is used to generate polynomial and interaction features.
ploynomial_converter = PolynomialFeatures(degree=2, include_bias=False) # This will create polynomial features of degree 2 without including the bias term (constant term).

In [22]:
ploy_features = ploynomial_converter.fit_transform(x) # This will create polynomial features based on the input features in x
ploy_features # This will give us the shape of the polynomial features array

array([[ 230.1 ,   37.8 ,   69.2 , ..., 1428.84, 2615.76, 4788.64],
       [  44.5 ,   39.3 ,   45.1 , ..., 1544.49, 1772.43, 2034.01],
       [  17.2 ,   45.9 ,   69.3 , ..., 2106.81, 3180.87, 4802.49],
       ...,
       [ 177.  ,    9.3 ,    6.4 , ...,   86.49,   59.52,   40.96],
       [ 283.6 ,   42.  ,   66.2 , ..., 1764.  , 2780.4 , 4382.44],
       [ 232.1 ,    8.6 ,    8.7 , ...,   73.96,   74.82,   75.69]],
      shape=(200, 9))

In [17]:
ploy_features[0] # This will give us the first row of the polynomial features
# ploy_features.shape # This will give us the shape of the polynomial features array

array([2.301000e+02, 3.780000e+01, 6.920000e+01, 5.294601e+04,
       8.697780e+03, 1.592292e+04, 1.428840e+03, 2.615760e+03,
       4.788640e+03])

In [23]:
from sklearn.model_selection import train_test_split # Split the dataset into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(ploy_features, y, test_size=0.2, random_state=100)# This will split the data into training and testing sets with 80% for training and 20% for testing
model = LinearRegression(fit_intercept=True) # Create a linear regression model with an intercept term
model.fit(x_train, y_train) # Fit the model to the training data
test_predictions = model.predict(x_test) # Make predictions on the test data
from sklearn.metrics import mean_squared_error, r2_score # Import metrics for evaluation
MAE = mean_squared_error(y_test, test_predictions) # Calculate Mean Absolute Error
MSE = mean_squared_error(y_test, test_predictions) # Calculate Mean Squared Error
RMSE = np.sqrt(MSE) # Calculate Root Mean Squared Error
print(MAE, MSE, RMSE) # Print the evaluation metrics

0.20414138778081084 0.20414138778081084 0.451820083419065

In [ ]:
# ssr # Sum of Squares Regression
# sse # Sum of Squares Error 
# ssm # Sum of Squares Model
   # 3 model ho gya hai